<ul nz-menu [nzMode]="'inline'" style="width: 240px;">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
      <li
        nz-menu-item
        [nzPaddingLeft]="menu.level * 24"
        *ngIf="!menu.children"
        [nzDisabled]="menu.disabled"
        [nzSelected]="menu.selected"
      >
        <span title>
          <i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i>
          <span>{{ menu.title }}</span>
        </span>
      </li>
      <li
        nz-submenu
        [nzPaddingLeft]="menu.level * 24"
        *ngIf="menu.children"
        [nzOpen]="menu.open"
        [nzDisabled]="menu.disabled"
      >
        <span title>
          <i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i>
          <span>{{ menu.title }}</span>
        </span>
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>


<button nz-button nzType="primary" (click)="onSelectChange()">Primary</button>


<nz-timeline>
  <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
  <nz-timeline-item>Solve initial network problems 2015-09-01</nz-timeline-item>
  <nz-timeline-item
    nzColor="red"
    [nzDot]="status === 0 ? dotTemplate : dotTemplate2"
    >Technical testing 2015-09-01</nz-timeline-item
  >
  <!-- <nz-timeline-item nzColor="red" [nzDot]="dotTemplate2"
    >Technical testing 2015-09-01</nz-timeline-item
  > -->
  <nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>
</nz-timeline>
<ng-template #dotTemplate>
  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
</ng-template>
<ng-template #dotTemplate2>
  <i nz-icon nzType="menu-fold" style="font-size: 16px;"></i>
</ng-template>
<button nz-button nzType="primary" (click)="onTimelineChange()">
  TimelineChange
</button>
